[submodule "libs/pybind11"]
	path = blockscipy/blocksci/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "libs/bitcoin-api-cpp"]
	path = external/bitcoin-api-cpp
	url = https://github.com/hkalodner/bitcoin-api-cpp.git
[submodule "libs/dset"]
	path = external/dset
	url = https://github.com/wjakob/dset.git
[submodule "libs/variant"]
	path = external/variant
	url = https://github.com/mpark/variant.git
[submodule "libs/range-v3"]
	path = external/range-v3
	url = https://github.com/hkalodner/range-v3.git
[submodule "Notebooks/blocksci/Blockchain-Known-Pools"]
	path = blockscipy/blocksci/Blockchain-Known-Pools
	url = https://github.com/blockchain/Blockchain-Known-Pools
[submodule "libs/clipp"]
	path = external/clipp
	url = https://github.com/muellan/clipp
[submodule "libs/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb
