[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11/
[submodule "libs/sparsepp"]
	path = libs/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "libs/bitcoin-api-cpp"]
	path = libs/bitcoin-api-cpp
	url = https://github.com/hkalodner/bitcoin-api-cpp.git
[submodule "libs/dset"]
	path = libs/dset
	url = https://github.com/wjakob/dset.git

