[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11/
[submodule "libs/sparsepp"]
	path = libs/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "libs/bitcoin-api-cpp"]
	path = libs/bitcoin-api-cpp
	url = https://github.com/hkalodner/bitcoin-api-cpp.git
[submodule "libs/dset"]
	path = libs/dset
	url = https://github.com/wjakob/dset.git
[submodule "libs/SQLiteCpp"]
	path = libs/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "libs/ThreadPool"]
	path = libs/ThreadPool
	url = https://github.com/progschj/ThreadPool
[submodule "libs/variant"]
	path = libs/variant
	url = https://github.com/mpark/variant.git
[submodule "libs/range-v3"]
	path = libs/range-v3
	url = https://github.com/ericniebler/range-v3.git
