release
xcode
debug
build
.mtime_cache
*.DS_Store
Notebooks/blocksci
*.so
*.dylib
*.pyc
include/blocksci/external
python/blocksci/pybind11
*.egg-info
blockscipy/dist/*
.pytest_cache
.idea
.benchmarks
